node_modules
Notes.md
dist
.env
.aws-sam
coverage
.python-version
llrt-lambda-x64.zip
target
dependency-reduced-pom.xml
serverless-aws-sam/src/utils/aws-mock/keys/*
!serverless-aws-sam/src/utils/aws-mock/keys/.gitkeep
.venv/
