<a
  href="https://chatvious.auth.us-west-1.amazoncognito.com/login?response_type=code&client_id=2ot92gv0u6sivjbonnl13m487r&redirect_uri=<%= isProduction ? "https://chatvious.coding-wielder.com/main/callback" : "http://localhost:3000/callback" %>"
  class="<%= className %>"
>
  Log in
</a>
