<!--prettier-ignore-->
<%# Send form data to server by an action to createRoom %>

<%# Add Another Input for room id %>

<% if(type === "create") { %>
<dialog id="makeRoomModel" class="modal modal-bottom sm:modal-middle">
  <% } else { %>
  <dialog id="joinRoomModel" class="modal modal-bottom sm:modal-middle">
    <% } %>
    <div class="modal-box">
      <% if(type === "create") { %>
      <h3 class="font-bold text-lg">Create a Room!</h3>
      <form id="create-form" method="dialog">
      <% } else { %>
        <h3 class="font-bold text-lg">Join a Room!</h3>
        <form id="join-form" method="dialog">
      <% } %>
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
          ✕
        </button>
        <div class="mt-4 space-y-4">
          <div class="space-x-1">
            <% if (type === "create") { %>
              <label class="block ml-2 underline" for="input-room-name">Room Name</label>
              <input
                name="room-name"
                id="input-room-name"
                type="text"
                placeholder="Type here"
                class="input input-bordered w-full max-w-xs"
              />
              <% } else { %>
                <label class="block ml-2 underline" for="input-room-id">Room ID</label>
                <input
                  name="room-name"
                  id="input-room-id"
                  type="text"
                  placeholder="Type here"
                  class="input input-bordered w-full max-w-xs"
                />
              <% } %>
          </div>
          <button
            class="btn btn-accent text-accent-content absolute right-4 bottom-4"
            id="<%= type === "create" ? "createSubmitButton" : "joinSubmitButton" %>"
            type="submit"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </dialog>
</dialog>
