<div class="bg-neutral rounded p-2 flex justify-between">
  <span class="text-lg font-bold self-center text-neutral-content">
    Room Name</span
  >
  <div class="space-x-2">
    <button class="btn btn-sm text-lg font-bold">Room Info</button>
    <button class="btn btn-sm text-lg font-bold">Join Room</button>
  </div>
</div>
<!--prettier-ignore-->
<%# Above is just for a template for now %> 
<% if (ownedRooms.length > 0) { %>
<% ownedRooms.map((ownedRoom) => { %>
<div class="bg-neutral rounded p-2 flex justify-between">
  <span class="text-lg font-bold self-center text-neutral-content">
    <%= ownedRoom.roomName %></span
  >
  <div class="space-x-2">
    <button class="btn btn-sm text-lg font-bold">Room Info</button>
    <button class="btn btn-sm text-lg font-bold">Join Room</button>
  </div>
</div>
<div></div>
<% })} %>
