<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ejs/styles.css" />
    <script src="ejs/runtime.js"></script>
    <script src="ejs/main.js"></script>
    <title>DashBoard</title>
  </head>
  <body>
    <%- include('../components/navBar'); %>
    <h1 class="bg-blue-300">DashBoard</h1>
  </body>
</html>
