<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ejs/styles.css" />
    <script defer src="ejs/runtime.js"></script>
    <script defer src="ejs/index.js"></script>
    <title>DashBoard</title>
  </head>
  <body>
    <%# <div className="flex flex-col h-screen antialiased"> %>
    <div className="antialiased">
      <%- include('../components/navBar'); %>
      <h1 class="bg-blue-300">DashBoard</h1>
    </div>
  </body>
</html>
