<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ejs/styles.css" />
    <title>Document</title>
    <script defer src="ejs/runtime.js"></script>
    <script defer src="ejs/index.js"></script>
  </head>
  <body>
    <div class="<%= true ? "bg-blue-300": "bg-red-300" %>"><%= title %></div>
  </body>
</html>
