<button class="btn btn-info text-info-content px-2">
  <span class="my-auto text-lg font-bold"> Room Name</span>
</button>
<button class="btn btn-info text-info-content px-2">
  <span class="my-auto text-lg font-bold"> Room Name</span>
</button>
